/* General Styles  */

body {
    background-color: #F0F0F0;
}

.add-btn, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

p {
    color: hsl(228, 12%, 48%);
}

h1, h2 {
    font-family: 'Fraunces', serif;
}

/* Section Content  */

.section-content {
    background-color: hsl(30, 38%, 92%);
    padding-top: 11%;
    padding-bottom: 9%;
    width: 95%;
}


/* Card Section  */

.card-body {
    background-color: hsl(0, 0%, 100%);
    padding: 1.7rem 1.5rem;
    border-radius: 0 .5rem .5rem 0;
}

p.header {
    letter-spacing: .2rem;
    font-size: 13px;
}

/* Image Section  */

.image-section{
    padding-right: 0;
    background-image: url("../images/image-product-desktop.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 0;
    border-radius: .5rem 0 0 .5rem;
}

/* .image-section img {
    background-image: url("../images/image-product-desktop.jpg");
} */

.content-section {
    padding-left: 0;
    padding-right: 0;
}

.card-title {
    font-size: 1.7rem;
    line-height: 1;
    padding-right: 20px;
}

.card-text {
    padding: .9rem 0 0 0
}

/* Price Section  */


.price-section h2 {
    color: #458C6B;
}

.price-section p {
    margin: .6rem 1.7rem 0 0;
    font-size: 12px;
}

/* Button Section  */

.main-card-buttons {
    margin-top: .9rem;
}

.add-btn {
    background-color: #458C6B;
    font-weight: bold;
    color: #fff;
    padding: .7rem 0;
}

.add-btn:hover {
    background-color: #1B402E;
    color: #fff
}

.cart-icon {
    margin-right: .5rem;
}

/* Footer Section  */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Responsive Design  */

@media (max-width: 576px){
    .section-content{
        width: 100%;
        padding: 5%;
        box-shadow: 0;
    }

    .image-section {
        padding-left: 0;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .content-section {
        padding-right: 0;
    }

    .image-section {
        background-image: url("../images/image-product-mobile.jpg");
        background-position: center;
        background-size: cover;
        height: 220px;
    }

    .card-body {
        padding: 1.7rem 1rem;
    }

    .card-title {
        font-size: 2rem;
        padding-right: 0;
    }
}