@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap')

:root 
    // Primary colors

    --red: hsl(0, 78%, 62%)
    --cyan: hsl(180, 62%, 55%)
    --orange: hsl(34, 97%, 64%)
    --blue: hsl(212, 86%, 64%) 

    // Neutral colors 

    --dark-blue: hsl(234, 12%, 34%)
    --grayish-blue: hsl(229, 6%, 66%)
    --light-gray: hsl(0, 0%, 98%)
    
*, *:after, *:before
    box-sizing: border-box
    margin: 0
    padding: 0


body, header
    background-color: var(--light-gray)

body 
    font-family: 'Poppins', sans-serif

p
    color: var(--grayish-blue)

header h2, ._card_title 
    color: var(--dark-blue)

@mixin sm-vp()
    @media (min-width: 576px)
        @content

@mixin md-vp()
    @media (min-width: 768px)
        @content

@mixin lg-vp()
    @media (min-width: 992px)
        @content

@mixin xl-vp()
    @media (min-width: 1200px)
        @content

@mixin card-style($border-top-color, $grid-area)
    grid-area: $grid-area
    border-top: solid 3px $border-top-color
    
    
    

.main-wrapper 
    min-height: 100vh
    display: grid
    grid-template-columns: 83%
    grid-template-rows: auto auto 5%
    grid-template-areas: "header" "main" "footer"
    justify-content: center
    gap: 4.6rem

    header 
        grid-area: header
        padding: 5.2rem 0 0 0.4rem

        h1 
                font-size: 1.53rem
                font-weight: lighter
        h2
            font-size: 1.53rem

        p
            margin-top: 1rem
            font-size: 15px
            letter-spacing: .1px
            line-height: 1.65

    main
        grid-area: main
        display: grid
        grid-template-columns: auto
        grid-template-rows: auto auto auto auto 
        grid-template-areas: "card-1" "card-2" "card-3" "card-4"

        @include md-vp()
            grid-template-columns: auto auto auto 
            grid-template-rows: auto auto
            grid-template-areas: "card-1 card-2 card-4" "card-1 card-3 card-4"

        ._card
            padding: 7.55% 7% 7% 8.9%

            ._card_title
                font-size: 1.26rem

            ._card_text
                font-size: 13.4px
                margin-top: 0.4rem

            &:nth-child(1)
                @include card-style(var(--cyan), card-1)
                // grid-area: card-1

            &:nth-child(2)
                @include card-style(var(--red), card-2)
                // grid-area: card-2

            &:nth-child(3)
                @include card-style(var(--orange), card-3)
                // grid-area: card-3

            &:nth-child(4)
                @include card-style(var(--blue), card-4)
                // grid-area: card-4
                

    footer 
        grid-area: footer