@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, header {
  background-color: var(--light-gray);
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--grayish-blue);
}

header h2, ._card_title {
  color: var(--dark-blue);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 83%;
  grid-template-rows: auto auto 5%;
  grid-template-areas: "header" "main" "footer";
  justify-content: center;
  gap: 4.6rem;
}
@media (min-width: 576px) {
  body {
    grid-template-columns: 65%;
  }
}
@media (min-width: 768px) {
  body {
    grid-template-columns: 90%;
  }
}
@media (min-width: 992px) {
  body {
    grid-template-columns: 77.2%;
    gap: 3.7rem;
  }
}
body header {
  display: flex;
  grid-area: header;
  padding: 5.2rem 0 0 0.4rem;
}
@media (min-width: 768px) {
  body header {
    text-align: center;
    justify-content: center;
  }
  body header .container {
    width: 50%;
  }
}
@media (min-width: 992px) {
  body header {
    padding: 4.9rem 0 0 0;
  }
  body header .container h1, body header .container h2 {
    font-size: 2.3rem;
    margin-left: 1rem;
  }
}
body header h1 {
  font-size: 1.53rem;
  font-weight: 200;
}
body header h2 {
  font-size: 1.53rem;
}
body header p {
  margin-top: 1rem;
  font-size: 0.94rem;
  letter-spacing: 0.1px;
  line-height: 1.65;
}
body main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "card-1" "card-2" "card-3" "card-4";
  gap: 1.7rem;
}
@media (min-width: 768px) {
  body main {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card-1 card-2 card-4" "card-1 card-3 card-4";
    row-gap: 2.9rem;
    -moz-column-gap: 1.9rem;
         column-gap: 1.9rem;
  }
}
body main ._card {
  padding: 7.55% 8.5% 7.5% 8.9%;
  background: #fff;
  box-shadow: 0px 20px 61px -26px var(--grayish-blue);
  border-radius: 0.5em;
}
body main ._card ._card_title {
  font-size: 1.26rem;
}
body main ._card ._card_text {
  font-size: 0.84rem;
  margin-top: 0.4rem;
}
body main ._card:nth-child(1) {
  grid-area: card-1;
  border-top: solid 3px var(--cyan);
}
@media (min-width: 768px) {
  body main ._card:nth-child(1) {
    align-self: center;
  }
}
body main ._card:nth-child(2) {
  grid-area: card-2;
  border-top: solid 3px var(--red);
}
body main ._card:nth-child(3) {
  grid-area: card-3;
  border-top: solid 3px var(--orange);
}
body main ._card:nth-child(4) {
  grid-area: card-4;
  border-top: solid 3px var(--blue);
}
@media (min-width: 768px) {
  body main ._card:nth-child(4) {
    align-self: center;
  }
}
body main ._card ._card_img {
  display: flex;
  justify-content: end;
  margin-top: 2.1rem;
}
body main ._card ._card_img img {
  width: 23.5%;
}
body footer {
  grid-area: footer;
}
body footer .attribution {
  font-size: 11px;
  text-align: center;
}
body footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=main.css.map */