body {
    background-color: hsl(233, 47%, 7%);
}

.card-title, h2 {
    color: hsl(0, 0%, 100%);
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.45rem;
    font-weight: bold;
    margin-bottom: 1.99%;
}

/* # --------- # */

.main-row {
    padding: 3.99% 2.99% 5% 3%;
}

.main-card {
    border: none;
    background-color: hsl(244, 38%, 16%);
}

.card-body {
    padding-left: 13%;
    padding-top: 9.9%;
    padding-right: 5%;
}


.card-title {
    font-family: 'Inter', sans-serif;
    margin: 4.6% 0%;
    font-size: 2.3rem;
    letter-spacing: -1.4px;
    font-weight: bold;
    line-height: 1.1;
}

.card-title span {
    color: hsl(277, 64%, 61%);
}

.card-text {
    font-family: 'Inter', sans-serif;
    padding-right: 19%;
    font-size: 15px;
    margin-top: 5.99%;
    line-height: 1.55;
    letter-spacing: -.3px;
    color: hsla(0, 0%, 100%, 0.75);
}

.image-wrapper {
    background-color: hsl(277, 64%, 61%);
    border-radius: 0% 2% 2% 0;
}

.image-wrapper img{
    width: 100%;
    opacity: 50%;
    border-radius: 0% 2% 2% 0;
}

.card-body-row {
    margin-top: 16.5%;
}

.card-body-row div:nth-child(2){
    padding-left: 7%;
}

.card-body-row div:nth-child(3){
    padding-left: 5.7%;
}

.card-body-row p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12.7px;
    color: hsla(0, 0%, 100%, 0.6);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* # ---- Mobile Design ----#  */

@media (max-width:768px){

    .main-container {
        height: 0%!important;
        padding: 6%;
    }

    .main-row {
        padding: 0%;
    }

    .main-card {
        margin-top: 20%;
        padding-bottom: 5%;
    }

    .card-row {
        position: relative;
    }

    .col-card-content {
        margin-top: 70%;
    }

    .card-body {
        text-align: center;
        padding: 0% 10%;
    }

    .card-title {
        font-size: 1.8rem;
        letter-spacing: -.5px;
        margin-top: 12%;
    }

    .card-text {
        padding: 1.5%;
        letter-spacing: normal;
        line-height: 1.6;
    }

    .col-card-image {
        position: absolute;
    }

    .card-body-row {
        margin: 0;
        margin-top: 11%;
    }

    .card-body-row div:nth-child(1){
        padding-top: 3%;
    }

    .card-body-row div:nth-child(2),
    .card-body-row div:nth-child(3){
        padding: 0%;
        margin-top: 5%;
    }

    .image-wrapper, .image-wrapper .main-img {
        border-radius: 2% 2% 0% 0;
    }

}

@media (min-width:576px) and (max-width:768px){
    .main-container {
        padding: 15%;
    }
}






