body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

#main-section .row {
    padding: 9.5% 8% 9.5% 8%;
}

.col {
    position: relative;
}

.sec-col-2, .sec-col-3 {
    background-color: #fff;
}

.sec-col-1 {
    width: 14%;
    background: linear-gradient(0deg, hsl(240, 73%, 65%) -38%, hsl(273, 75%, 66%) 130%);
    z-index: 1;
}

.sec-col-2 {
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position-x: 103%;
    background-size: auto;
    background-position-y: 68%;
    border-radius: 5% 0% 0% 5%;
    box-shadow: 47px 44px 25px -5px #5742b9;
}

.sec-col-3 {
    width: 43.666667%;
    padding: 5.3% 6% 0 5%;
    border-radius: 0% 5% 5% 0%;
    box-shadow: 10px 50px 25px -15px #5742b9;
}

.box-img, .main-img {
    position: absolute
}

.box-img {
    top: 40.5%;
    left: 44.5%;
}

.main-img {
    top: 15%;
    right: 3%;
}

.main-title {
    padding: 1% 0% 0% 4%;
    font-size: 2rem;
    font-weight: bold;
}

#faq-accordion {
    margin-top: 5.5%;
}

.accordion-item {
    border: 0;
}

.devider {
    margin: .5% 0 0 4%;
    color: hsl(237, 12%, 33%);
    border-top: 1px solid;
    width: 90%;
}

.accordion-button {
    padding-left: 4.8%;
    padding-bottom: 2.6%;
    padding-right: 9%;
    font-size: 14px;
}

.accordion-body {
    padding: 0 4.4%;
    font-size: 12px;
    color: hsl(237, 12%, 33%);
}

.accordion-button:not(.collapsed) {
    color: black;
    font-weight: bold;
    background-color: inherit;
    box-shadow: none;
}

.accordion-button:hover{
    color: hsl(14, 88%, 65%);
}

.accordion-button:focus{
    border: none;
}

div.accordion-collapse.collapse.show {
    margin-bottom: 4.5%;
}

.accordion-button::after {
    background-image: url(../images/icon-arrow-down.svg);
    background-size: 60%;
    background-position-y: 40%;
    background-position-x: 40%;
    width: 6%;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/icon-arrow-down.svg);
    background-size: 60%;
    background-position-y: 40%;
    background-position-x: 40%;
    width: 6%;
    transform: rotate(180deg);
}

.attribution {
    text-align: center;
    color: #fff;
    font-size: 11px;
}

.attribution a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Mobile Design  */

@media (max-width:768px){
    .col {
        width: 100%;
    }

    #main-section .row {
        min-height: 0!important;
        padding: 0% 7% 10.7% 7%;
    }

    .sec-col-1 {
        display: none;
    }

    .sec-col-2 {
        background-color: inherit;
        box-shadow: none;
        z-index: 1;
        background-image: none
    }

    .sec-col-3 {
        padding: 35.3% 1% 18% 1%;
        border-radius: 2rem;
        background-image: url('../images/bg-pattern-mobile.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-position-x: 47%;
    }

    .main-img {
        width: 81%;
        position: relative;
        top: 33%;
        left: 9%;
    }

    .main-title {
        text-align: center;
        padding-left: 0%;
        padding-top: 2%;
    }

    .accordion-body {
        padding: 0% 11.4% 1% 5%;
    }

    .accordion-button {
        font-size: 13px;
    }
}

@media (min-width:576px) and (max-width:768px){

    #main-section .row {
        padding: 0% 15% 10.7% 15%;
    }

    .sec-col-3 {
        padding-top: 25%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .main-img {
        width: 70%;
        left: 14%;
    }

}