body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    background-color: inherit;
    border: none;   
}

.box-img-sec {
    position: relative;
    z-index: 1;
    width: 15.3%;
    background: linear-gradient(0deg, hsl(240, 73%, 65%) -30%, hsl(273, 75%, 66%) 125%);
}

.box-img {
    position: absolute;
    top: 38%;
    left: 46%;
}

.main-img-sec {
    background-color: #fff;
    position: relative;
}

.main-img {
    position: absolute;
    left: -15%;
    top: 3%;
}

.body-card-sec {
    background-color: white;
}


/* ------------------ */


.body-card-sec, .main-img-sec, .card > .row {
    padding: 0;
}