/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: grid;
  grid-template-rows: auto 0.1fr;
  grid-template-areas: "main" "footer";
  min-height: 100vh;
}

h2,
h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}

@media (min-width: 576px) {
  main {
    box-shadow: 0.4rem 0.8rem 3rem 1rem hsl(221, 100%, 96%);
    border-radius: 2rem;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 50vw;
  }
}

.heading {
  font-weight: 700;
}

.result {
  padding: 1.3rem 2.5rem 2.2rem;
  text-align: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 2rem 2rem;
  position: relative;
}
.result::before {
  border-radius: 100%;
  background-image: linear-gradient(180deg, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  content: "";
  position: absolute;
  width: 49%;
  height: 33%;
  top: 23%;
  left: 25%;
}
.result .heading {
  font-size: 1.2rem;
  color: hsl(241, 100%, 89%);
}
@media (min-width: 768px) {
  .result .heading {
    font-size: 1.6rem;
  }
}
@media (min-width: 576px) {
  .result {
    border-radius: 2rem;
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .result {
    flex-basis: 51%;
    padding: 2.2rem 4.2rem 2.5rem;
  }
}

.final-result {
  margin-bottom: 2.7rem;
  position: relative;
}
.final-result h1 {
  font-size: 3.5rem;
  margin: 3rem 0 0;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .final-result h1 {
    font-size: 4.5rem;
    margin: 5rem 0 0;
    line-height: 1.1;
  }
}
.final-result p {
  color: #929fc4;
}
@media (min-width: 768px) {
  .final-result {
    margin-bottom: 4.4rem;
  }
}

.feedback h2 {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .feedback h2 {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
  }
}
.feedback p {
  color: hsl(241, 100%, 89%);
}

.summary {
  padding: 1.3rem 2rem 2.2rem;
}
@media (min-width: 576px) {
  .summary {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .summary {
    flex-basis: 48%;
    padding: 2.2rem 2rem 2.5rem;
  }
}

.summary .heading {
  color: hsl(224, 30%, 27%);
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .summary .heading {
    font-size: 1.6rem;
    margin-top: 0;
  }
}

.detail-list {
  padding: 0;
  gap: 1rem;
  margin: 1rem 0 1.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .detail-list {
    margin: 2.8rem 0;
  }
}
.detail-list li {
  border-radius: 0.5rem;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  list-style: none;
  width: 100%;
  padding: 0.9rem 0.7rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .detail-list li {
    padding: 0.7rem 0.7rem;
  }
}
.detail-list li:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.03);
}
.detail-list li:nth-child(1) .icon {
  color: hsl(0, 100%, 67%);
}
.detail-list li:nth-child(1) .icon::before {
  content: url("../assets/images/icon-reaction.svg");
  margin: auto 0.5rem auto 0;
  position: relative;
  top: 0.2rem;
}
.detail-list li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(0, 100%, 67%, 0.1);
  border-left: 1px solid hsla(0, 100%, 67%, 0.1);
  border-top-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(0, 100%, 67%, 0.1);
  border-right: 1px solid hsla(0, 100%, 67%, 0.1);
  border-top-right-radius: 0.3rem;
  right: 0;
}
.detail-list li:nth-child(1) .score::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(0, 100%, 67%, 0.1);
  border-left: 1px solid hsla(0, 100%, 67%, 0.1);
  border-bottom-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(1) .score::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(0, 100%, 67%, 0.1);
  border-right: 1px solid hsla(0, 100%, 67%, 0.1);
  border-bottom-right-radius: 0.3rem;
  right: 0;
}
.detail-list li:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.03);
}
.detail-list li:nth-child(2) .icon {
  color: hsl(39, 100%, 56%);
}
.detail-list li:nth-child(2) .icon::before {
  content: url("../assets/images/icon-memory.svg");
  margin: auto 0.5rem auto 0;
  position: relative;
  top: 0.2rem;
}
.detail-list li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(39, 100%, 56%, 0.1);
  border-left: 1px solid hsla(39, 100%, 56%, 0.1);
  border-top-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(39, 100%, 56%, 0.1);
  border-right: 1px solid hsla(39, 100%, 56%, 0.1);
  border-top-right-radius: 0.3rem;
  right: 0;
}
.detail-list li:nth-child(2) .score::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(39, 100%, 56%, 0.1);
  border-left: 1px solid hsla(39, 100%, 56%, 0.1);
  border-bottom-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(2) .score::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(39, 100%, 56%, 0.1);
  border-right: 1px solid hsla(39, 100%, 56%, 0.1);
  border-bottom-right-radius: 0.3rem;
  right: 0;
}
.detail-list li:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.03);
}
.detail-list li:nth-child(3) .icon {
  color: hsl(166, 100%, 37%);
}
.detail-list li:nth-child(3) .icon::before {
  content: url("../assets/images/icon-verbal.svg");
  margin: auto 0.5rem auto 0;
  position: relative;
  top: 0.2rem;
}
.detail-list li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(166, 100%, 37%, 0.1);
  border-left: 1px solid hsla(166, 100%, 37%, 0.1);
  border-top-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(166, 100%, 37%, 0.1);
  border-right: 1px solid hsla(166, 100%, 37%, 0.1);
  border-top-right-radius: 0.3rem;
  right: 0;
}
.detail-list li:nth-child(3) .score::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(166, 100%, 37%, 0.1);
  border-left: 1px solid hsla(166, 100%, 37%, 0.1);
  border-bottom-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(3) .score::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(166, 100%, 37%, 0.1);
  border-right: 1px solid hsla(166, 100%, 37%, 0.1);
  border-bottom-right-radius: 0.3rem;
  right: 0;
}
.detail-list li:nth-child(4) {
  background-color: hsla(234, 85%, 45%, 0.03);
}
.detail-list li:nth-child(4) .icon {
  color: hsl(234, 85%, 45%);
}
.detail-list li:nth-child(4) .icon::before {
  content: url("../assets/images/icon-vision.svg");
  margin: auto 0.5rem auto 0;
  position: relative;
  top: 0.2rem;
}
.detail-list li:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(234, 85%, 45%, 0.1);
  border-left: 1px solid hsla(234, 85%, 45%, 0.1);
  border-top-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  top: 0;
  border-top: 1px solid hsla(234, 85%, 45%, 0.1);
  border-right: 1px solid hsla(234, 85%, 45%, 0.1);
  border-top-right-radius: 0.3rem;
  right: 0;
}
.detail-list li:nth-child(4) .score::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(234, 85%, 45%, 0.1);
  border-left: 1px solid hsla(234, 85%, 45%, 0.1);
  border-bottom-left-radius: 0.3rem;
  left: 0;
}
.detail-list li:nth-child(4) .score::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 20%;
  bottom: 0;
  border-bottom: 1px solid hsla(234, 85%, 45%, 0.1);
  border-right: 1px solid hsla(234, 85%, 45%, 0.1);
  border-bottom-right-radius: 0.3rem;
  right: 0;
}

.score span {
  color: #929fc4;
}

.summary-details button {
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 2rem;
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  width: 100%;
}
.summary-details button:hover {
  background: linear-gradient(hsla(256, 72%, 46%, 0.8) 10%, hsl(241, 72%, 46%));
  cursor: pointer;
}
@media (min-width: 768px) {
  .summary-details button {
    padding: 0.8rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */